.Beat {
    border-right: 1px solid #424242;
    flex: 1;
  }

  .Black {
    background-color: #474747;
  }

  .Key-container {
    display: flex;
    height: 30px;
    flex-direction: row;
  }

  .Active {
    background: red;
  }