.toggle-container {
	display: flex;
	position: relative;
	width: 200px;
	height: 50px;
	background-color: transparent;
	border-radius: 8px;
	overflow: hidden;
}

.toggle-border {
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	background-color: #007bff; /* Border color */
	border: 1px solid #007bff;
	transition: transform 0.3s ease; /* Smooth animation */
	z-index: 1;
}

.toggle-container {

	border: 1px solid #007bff;
  }
  

.toggle-button {
	flex: 1;
	border: none;
	background: none;
	z-index: 2;
	position: relative;
	font-size: 16px;
	cursor: pointer;
	outline: none;
	color: #4b7aac;
	font-weight: bold;
}

.toggle-button.active {
	color: white; /* Highlight the active button */
}
